<mat-toolbar color="primary">
    <span>Egyptian Premier League</span>
</mat-toolbar>

<mat-card class="signin-card">
    <mat-card-header>
      <div mat-card-avatar class="signin-header-image"></div>
      <mat-card-title> Sign in </mat-card-title>
      <mat-card-subtitle>EPL Account</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <mat-form-field class="signin-input">
            <mat-label>Username</mat-label>
            <input matInput type="text" [(ngModel)]="user.username">
            <button mat-button *ngIf="user.username" matSuffix mat-icon-button aria-label="Clear" (click)="user.username=''">
              <mat-icon>close</mat-icon>
            </button>
        </mat-form-field>
        <br>
        <mat-form-field class="signin-input">
            <mat-label>Password</mat-label>
            <input matInput type="password" [(ngModel)]="user.pw">
            <button mat-button *ngIf="user.pw" matSuffix mat-icon-button aria-label="Clear" (click)="user.pw=''">
              <mat-icon>close</mat-icon>
            </button>
        </mat-form-field>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button (click)="signIn()">Sign in</button>
      <button mat-button>Sign Up</button>
      <button mat-button>Guest</button>
    </mat-card-actions>
  </mat-card>