<mat-card class="edit-card">
    <mat-card-header>
        <div mat-card-avatar class="edit-header-image"></div>
        <mat-card-title> Sign Up </mat-card-title>
        <mat-card-subtitle>EPL Account</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <form class="edit-form">
            <br>
            <mat-form-field class="edit-input">
                <mat-label>First name</mat-label>
                <input matInput type="text" [formControl]="fnameFormControl" name="fname" [(ngModel)]="user.fname">
                <button mat-button *ngIf="user.fname" matSuffix mat-icon-button aria-label="Clear"
                    (click)="user.fname=null">
                    <mat-icon>close</mat-icon>
                </button>
                <mat-error *ngIf="fnameFormControl.hasError('required')">
                    First name is <strong>required</strong>
                </mat-error>
            </mat-form-field>
            <br>
            <mat-form-field class="edit-input">
                <mat-label>Last name</mat-label>
                <input matInput type="text" [formControl]="lnameFormControl" name="lname" [(ngModel)]="user.lname">
                <button mat-button *ngIf="user.lname" matSuffix mat-icon-button aria-label="Clear"
                    (click)="user.lname=null">
                    <mat-icon>close</mat-icon>
                </button>
                <mat-error *ngIf="lnameFormControl.hasError('required')">
                    Last name is <strong>required</strong>
                </mat-error>
            </mat-form-field>
            <br>
            <mat-form-field class="edit-input">
                <mat-label>Enter a new password</mat-label>
                <input matInput type="password" name="password"
                    [(ngModel)]="newPasswrod">
                <button mat-button *ngIf="newPasswrod" matSuffix mat-icon-button aria-label="Clear" (click)="newPasswrod=null">
                    <mat-icon>close</mat-icon>
                </button>
            </mat-form-field>
            <br>
        </form>

        <p> Gender </p>
        <mat-radio-group aria-label="Gender" [(ngModel)]="user.gender">
            <mat-radio-button value="Male">Male</mat-radio-button>
            <mat-radio-button value="Female">Female</mat-radio-button>
        </mat-radio-group>

        <mat-form-field style="margin-left: 10px;">
            <mat-label>Select a city</mat-label>
            <mat-select [(value)]="user.city">
                <mat-option value="Giza">Giza</mat-option>
                <mat-option value="Cairo">Cairo</mat-option>
                <mat-option value="Alexandria">Alexandria</mat-option>
                <mat-option value="Faiyum">Faiyum</mat-option>
            </mat-select>
        </mat-form-field>
        <br>
        <mat-form-field class="edit-input">
            <mat-label>Address(Optional)</mat-label>
            <input matInput type="text" [(ngModel)]="user.address">
            <button mat-button *ngIf="user.address" matSuffix mat-icon-button aria-label="Clear"
                (click)="user.address=null">
                <mat-icon>close</mat-icon>
            </button>
        </mat-form-field>
        <br>
        <p> Role </p>
        <mat-radio-group aria-label="Role" [(ngModel)]="user.user_type">
            <mat-radio-button value="Fan">Fan</mat-radio-button>
            <mat-radio-button value="Manager">Manager</mat-radio-button>
        </mat-radio-group>
        <mat-form-field style="margin-left: 10px;">
            <mat-label>Birthdate</mat-label>
            <input matInput [min]="minDate" [max]="maxDate" [matDatepicker]="picker" [(ngModel)]="date" name="Date">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>

    </mat-card-content>
    <mat-card-actions>
        <div *ngIf="fnameFormControl.hasError('required') || lnameFormControl.hasError('required')">
            <button disabled="true" mat-button>Edit</button>
        </div>
        <div *ngIf="!(fnameFormControl.hasError('required')|| lnameFormControl.hasError('required'))">
            <button mat-button (click)="editUser()">Edit</button>
        </div>
    </mat-card-actions>
</mat-card>