<mat-toolbar color="primary">
    <span>Egyptian Premier League</span>
</mat-toolbar>

<mat-card class="new-match-card">
    <mat-card-header>
        <div mat-card-avatar class="new-match-header-image"></div>
        <mat-card-title>Create New Match</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <form class="new-match-form">
            <mat-form-field class="new-match-form">
                <mat-label>Home Team</mat-label>
                <mat-select [(value)]="match.home_team" [formControl]="homeTeamFormControl">
                    <mat-option *ngFor="let t of teams" [value]="t">
                        {{ t.team_name }}
                    </mat-option>
                </mat-select>
                <mat-error *ngIf="homeTeamFormControl.hasError('required')">You must make a selection</mat-error>
                <mat-error *ngIf="homeTeamFormControl.hasError('sameTeam')">Teams must be different</mat-error>


            </mat-form-field>
            <br>
            <mat-form-field class="new-match-form">
                <mat-label>Away Team</mat-label>
                <mat-select [(value)]="match.away_team"[formControl]="awayTeamFormControl">
                    <mat-option *ngFor="let t of teams" [value]="t">
                        {{ t.team_name }}
                    </mat-option>
                </mat-select>
                <mat-error *ngIf="awayTeamFormControl.hasError('required')">You must make a selection</mat-error>
                <mat-error *ngIf="awayTeamFormControl.hasError('sameTeam')">Teams must be different</mat-error>

            </mat-form-field>
            <br>
            <mat-form-field class="new-match-form">
                <mat-label>Stadium</mat-label>
                <mat-select [(value)]="match.stadium">
                    <mat-option *ngFor="let s of stadiums" [value]="s.id">
                        {{ s.name }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <br>
            <mat-form-field class="new-match-form">
                <mat-label>Main Referee</mat-label>
                <input matInput type="text" [formControl]="refereeFormControl" name="mainReferee" [(ngModel)]="match.main_refree">
                <button mat-button *ngIf="match.main_refree" matSuffix mat-icon-button aria-label="Clear"
                    (click)="match.main_refree=null">
                    <mat-icon>close</mat-icon>
                </button>
                <mat-error *ngIf="refereeFormControl.hasError('required')">
                    Main Referee is <strong>required</strong>
                </mat-error>
            </mat-form-field>
            <br>
            <mat-form-field class="new-match-form">
                <mat-label>Linesman 1</mat-label>
                <input matInput type="text" [formControl]="linesman1FormControl" name="linesman1" [(ngModel)]="match.linesman1">
                <button mat-button *ngIf="match.linesman1" matSuffix mat-icon-button aria-label="Clear"
                    (click)="match.linesman1=null">
                    <mat-icon>close</mat-icon>
                </button>
                <mat-error *ngIf="linesman1FormControl.hasError('required')">
                    Linesman 1 is <strong>required</strong>
                </mat-error>
            </mat-form-field >
            <br>
            <mat-form-field class="new-match-form">
                <mat-label>Linesman 2</mat-label>
                <input matInput type="text" [formControl]="linesman2FormControl" name="linesman2" [(ngModel)]="match.linesman2">
                <button mat-button *ngIf="match.linesman2" matSuffix mat-icon-button aria-label="Clear"
                    (click)="match.linesman2=null">
                    <mat-icon>close</mat-icon>
                </button>
                <mat-error *ngIf="linesman2FormControl.hasError('required')">
                    Linesman 2 is <strong>required</strong>
                </mat-error>
            </mat-form-field>
            <br>
            <mat-form-field class="new-match-form">
                <mat-label>Match Date</mat-label>
                <input matInput [min]="minDate" type="datetime-local" [max]="maxDate" [formControl]="matchDateTimeFormControl" name="matchDateTime" [(ngModel)]="match.match_date_time">
                <button mat-button *ngIf="match.match_date_time" matSuffix mat-icon-button aria-label="Clear"
                    (click)="match.match_date_time=null">
                    <mat-icon>close</mat-icon>
                </button>
                <mat-error *ngIf="matchDateTimeFormControl.hasError('required')">
                    Match Date is <strong>required</strong>
                </mat-error>
                <mat-error *ngIf="matchDateTimeFormControl.hasError('wrongDate')">
                    Match Date should be within <strong>1 hour and 2 years from now</strong>
                </mat-error>
            </mat-form-field>

</form>
</mat-card-content>

    <mat-card-actions>
        <div class="create-match-button" *ngIf="homeTeamFormControl.hasError('required') || awayTeamFormControl.hasError('required') 
        || refereeFormControl.hasError('email') || linesman1FormControl.hasError('required') || linesman2FormControl.hasError('required')
        || matchDateTimeFormControl.hasError('required') || matchDateTimeFormControl.hasError('wrongDate')">
            <button disabled="true" mat-button (click)="createMatch()">Create Match</button>
        </div>
        <div class="create-match-button" *ngIf="!homeTeamFormControl.hasError('required') && !awayTeamFormControl.hasError('required') 
        && !refereeFormControl.hasError('email')  && !linesman1FormControl.hasError('required') && !linesman2FormControl.hasError('required')
        && !matchDateTimeFormControl.hasError('required')  && !matchDateTimeFormControl.hasError('wrongDate')">
            <button mat-button (click)="createMatch()">Create Match</button>
        </div>
    </mat-card-actions>
</mat-card>