<mat-toolbar color="primary">
    <span>Egyptian Premier League</span>
    <span class="spacer"></span>
    <a mat-icon-button href="/home">
        <mat-icon>home</mat-icon>
    </a>
    <div *ngIf="!loggedIn">
        <a mat-button href="/login">Sign In</a>
        <a mat-button href="/signup">Sign Up</a>
    </div>
    <div *ngIf="loggedIn">
        <a mat-icon-button href="/profile">
            <mat-icon>account_circle</mat-icon>
        </a>
        <button mat-icon-button (click)="logout()">
            <mat-icon>exit_to_app</mat-icon>
        </button>
    </div>
</mat-toolbar>
