<div id="toolbar">
  <mat-toolbar color="primary">
      <div>Egyptian Premier League</div>
    </mat-toolbar>
    <mat-tab-group color="primary">
      <mat-tab *ngIf="user_type == 'Admin'" label="Pending Users"> Pending Users </mat-tab>
      <mat-tab *ngIf="user_type == 'Admin'" label="Users List"> <app-adminstrator-page></app-adminstrator-page> </mat-tab>
      <mat-tab *ngIf="user_type == 'Manager'" label="Matches"> <app-matches-page></app-matches-page> </mat-tab>
      <mat-tab *ngIf="user_type == 'Manager'" label="Stadiums"> <app-create-stadium-page></app-create-stadium-page> </mat-tab>
      <mat-tab *ngIf="user_type == 'Fan'" label="Matches"> <app-matches-list></app-matches-list> </mat-tab>
      <mat-tab *ngIf="user_type == 'Fan'" label="Reservations"> <app-reservations-list></app-reservations-list> </mat-tab>
      <mat-tab *ngIf="user_type == 'Fan'" label="Edit Data"><app-edit-user-info-page></app-edit-user-info-page></mat-tab>
    </mat-tab-group>
  </div>
